.cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  place-self: center;
  place-items: center;
  row-gap: 3%;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.buttonLoadMore {
  
}

@media (max-width: 1750px) {
  .cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 750px) {
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}